body {
    overflow: hidden;
    margin: 0;
    background-color: #111; /* Set your desired background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .falling-emojis {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 1; /* Set a higher z-index to position it behind the translator div */
  }

  .falling-emojis span {
    position: absolute;
    font-size: 20px; /* Adjust the font size */
    color: #fff; /* Set the color */
    animation: fall 5s linear infinite;
  }

  @keyframes fall {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
    }
  }

  #translator {
    z-index: 2; /* Set a lower z-index to position it in front of the falling emojis */
  }
  

.container {
    text-align: center;
        display: block;
    margin: 0 auto;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#output {
    margin-top: 20px;
}

#outputContainer {
  border-top: 2px solid #4a5568; /* Border color between input and output containers */
  padding-top: 10px;
}

#outputText {
  color: rgb(255, 255, 255); /* Text color for the output */
  margin-top: 10px;
}