body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
        display: block;
    margin: 0 auto;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#output {
    margin-top: 20px;
}

#outputContainer {
  border-top: 2px solid #4a5568; /* Border color between input and output containers */
  padding-top: 10px;
}

#outputText {
  color: rgb(255, 255, 255); /* Text color for the output */
  margin-top: 10px;
}